<div class="container text-center card bg-light col-md-6">
   <form action="/Lego/editlego/{{ products._id }}" method="post">
      <h1 class="alert alert-warning text-uppercase">Edit Lego</h1>
      <div class="form-group mt-3">
         <label class="text text-danger fw-bold">Title</label>
         <input class="form-control" type="text" placeholder="Enter product title" name="title" required minlength="5" value="{{ legos.title }}">
      </div>
      <div class="form-group mt-3">
         <label class="text text-danger fw-bold"> Company</label>
          <select class="form-control" name="company"name="company" required value="{{ legos.company }}">
           <option value="hhhh">hhh</option>
            <option value="Mô hình">Mohinh</option>
            <option value="KID">kid</option>
            <option value="bearbrick">bearbrick</option>
            
      </div>
       
         </select>  
      <div class="form-group mt-3">
         <label class="text text-danger fw-bold"> Price</label>
         <input class="form-control" type="number" name="price" placeholder="Enter product price" value="{{ legos.price }}" min="0">
      </div>
      <div class="form-group mt-3">
         <label class="text text-danger fw-bold">Product Cover</label><br>
         <img src="{{ legos.cover }}" width="100" height="120"><br>
         <input class="form-control" type="url" name="cover" placeholder="Enter product cover url" required value="{{ legos.cover}}">
      </div>
      
      <div class="form-group mt-3 mb-3">
         <input class="btn btn-success" type="submit" value="Edit">
      </div>
   </form>
</div>